<h3><%= list_name %> (<%= contexts.length %>)</h3>
<ul>
  <% if contexts.empty? -%>
    <li><%= I18n.t("common.none") %></li>
  <% else -%>
    <%= render :partial => "sidebar/context", :collection => contexts -%>
  <% end -%>
</ul>